
<div class="container mt-4">

<h2><%= @list.name %></h2>



<%# <ul>
  <%movies= Movie.all %>
  <%# <% movies.each do |movie| %>
  <%# <%= movie.title %>
  <%# <% end %>
<%# </ul>  %>


<% @list.bookmarks.each do |bookmark| %>
<h3><%= bookmark.movie.title %></h3>
<p><%= bookmark.comment  %></p>

<% end %>





<%= link_to "New Bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Back to lists", lists_path %>

</div>
